/*
 * General
 */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	justify-content: center;
	align-items: center;
	margin: 1em 2em;
	font-family: Lato, Verdana, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

#board {
	width: 100%;
	height: 99%;
	background-color: var(--vscode-editor-background);
}

/*
 * HUD
 */
*[hide] {
	display: none !important;
}

/*
 * Board Overlay
 */
.board-overlay {
	position: absolute;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: calc(1000*1000*1000);
}

.board-overlay>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

/*
 * Pick ID Image Overlay
 */

.board-overlay .pick-id-image {
	width: 400px;
	height: 50px;
	background-color: #111122;
	border: thick solid black;
	border-radius: 12px;
	padding: 5px;
	padding-top: 3px;
}

.board-overlay[image-picker] .pick-id-image {
	background-color: #4f5515;
}

.board-overlay .pick-id-image .icon {
	border: thick solid black;
	border-radius: 12px;
	position: absolute;
	top: -15px;
	left: -85px;
	width: 100px;
	height: 100px;
	min-height: none;
	max-height: none;
	cursor: pointer;
}

.board-overlay .pick-id-image input {
	display: inline-block;
	background-color: transparent;
	border: none;
}

.board-overlay .pick-id-image input[name="id"] {
	width: 73%;
	clear: none;
}

.board-overlay .pick-id-image input[error] {
	border: thin solid red !important;
}

.board-overlay .pick-id-image button {
	margin-top: 3px;
}

/*
 * Pick Element Overlay
 */

.board-overlay .pick-element {
	width: 400px;
	height: 50px;
	background-color: #111122;
	border: thick solid black;
	border-radius: 12px;
	padding: 5px;
	padding-top: 3px;
}

.board-overlay[image-picker] .pick-element {
	background-color: #4f5515;
}

.board-overlay .pick-element .icon {
	border: thick solid black;
	border-radius: 12px;
	position: absolute;
	top: -15px;
	left: -85px;
	width: 100px;
	height: 100px;
	min-height: none;
	max-height: none;
	cursor: pointer;
}

.board-overlay .pick-element input {
	display: inline-block;
	background-color: transparent;
	border: none;
}

.board-overlay .pick-element input[name="id"] {
	width: 55%;
	clear: none;
}

.board-overlay .pick-element input[name="level"] {
	width: 20%;
	clear: none;
}

.board-overlay .pick-element input[error] {
	border: thin solid red !important;
}

.board-overlay .pick-element button {
	margin-top: 3px;
}

/*
 * Board Widget (base)
 */

.board-widget {
	position: absolute !important;
}

.board-widget>.frame {
	background-color: #111122;
	border: thick solid black;
}

.board-widget h1, input {
	font-size: 20px;
}

.board-widget input, .board-widget textarea {
	background-color: transparent;
}

.board-widget input {
	border-bottom: thin solid #FFFFFF;
	bottom: auto;
	margin-top: 10px;
}

.board-widget .icon {
	background-color: black;
	border: 6px groove black;
	position: absolute;
	top: -52px;
	left: -52px;
	cursor: pointer;
}

.board-widget[open] .icon {
	top: -30px;
	left: -30px;
}

.board-widget .header {
	height: 80px;
	padding-left: 90px;
	padding-right: 20px;
}

.board-widget .header input[name="label"] {
	float: left;
	width: 90%;
}

.board-widget .header i[close] {
	position: relative;
	float: right;
	font-size: 35px;
	top: 5px;
	left: 5px;
	cursor: pointer;

}

.board-widget .header i[close]:hover {
	color: #fffd92
}

.board-widget .footer {
	background-color: #111122;
	vertical-align: bottom;
	height: 40px;
	padding: 5px;
}

.board-widget button, .hud button, .board-overlay button {
	background-color: #84866b;
	width: auto;
	border-radius: 15px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 15px;
	font-weight: bold;
	color: #111111;
	margin-left: 10px;
}

/*
 * Select Content Type Widget
 */

.select-content-type-widget {
	position: relative;
	width: 660px !important;
	height: 200px !important;
	top: -150px;
	left: -330px;
}

.select-content-type-widget .icon {
	top: -30px;
	left: -30px;
	cursor: default;
}

/*
 * Synopsis Widget
 */

.synopsis-widget {
	position: relative;
	width: 550px !important;
	height: 300px !important;
	top: -150px;
	left: -275px;
}

.synopsis-widget .icon {
	top: -20px;
	left: -20px;
	cursor: default;
}

.synopsis-widget .header {
	height: 50px;
}

.synopsis-widget .content {
	height: 225px;
	background-color: #202041;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.synopsis-widget input[name="version"] {
	display: inline;
	width: 160px;
	clear: none;
}

.synopsis-widget .version button {
	display: inline-block;
	float: none;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

/*
 * Verb Widget
 */

.verb-widget[open] {
	width: 550px !important;
	height: 300px !important;
	position: relative;
	top: -150px;
	left: -275px;
}

.verb-widget .icon {
	width: 104px !important;
	height: 104px !important;
}

.verb-widget .box {
	position: relative;
	top: -68px;
	left: -68px;
	width: 140px;
	height: 140px;
	border: 39px groove #09626a;
}

.verb-widget[open] .box {
	display: none;
}

.verb-widget:not([open]) .frame {
	display: none;
}

.verb-widget[large] {
	width: 625px !important;
}

.verb-widget .header {
	height: 50px;
}

.verb-widget .content {
	height: 225px;
	background-color: #202041;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.verb-widget textarea {
	resize: none;
	background-color: #0f0f27;
	font-size: 16px;
	padding: 10px;
	height: 160px;
	width: 270px;
	border-radius: 12px;
}

/*
 * Legacy Widget
 */

 .legacy-widget[open] {
	width: 550px !important;
	height: 500px !important;
	position: relative;
	top: -150px;
	left: -275px;
}

.legacy-widget .icon {
	width: 104px !important;
	height: 104px !important;
}

.legacy-widget .box {
	position: relative;
	top: -68px;
	left: -68px;
	width: 140px;
	height: 140px;
	/* border: 39px solid #09626a; */
}

.legacy-widget[open] .box {
	display: none;
}

.legacy-widget:not([open]) .frame {
	display: none;
}

.legacy-widget[large] {
	width: 625px !important;
}

.legacy-widget .header {
	height: 50px;
}

.legacy-widget .content {
	height: 500px;
	background-color: #202041;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.legacy-widget .content > table td {
	vertical-align: top;
	padding-left:5px;
}

.legacy-widget .content h1:not([no-margin]) {
	margin-top:20px;
}

/* .legacy-widget .content > table td > h1  {
	margin-top:0px;
} */

.legacy-widget textarea {
	resize: none;
	background-color: #0f0f27;
	font-size: 16px;
	padding: 10px;
	height: 160px;
	width: 270px;
	border-radius: 12px;
	margin-bottom:10px;
}

.legacy-widget input[type="checkbox"] {
	transform: scale(2);
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	margin-bottom: 20px;
	position: relative;
	top:2px;
}

/*
 * Slot Widget
 */

.board-widget .slots {
	vertical-align: top;
}

.board-widget .slot {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	height: 90px;
	width: 60px;
	border: 3px solid #002147;
	border-radius: 5px;
	background-color: #0a0a1b;
}

.board-widget .slot:hover {
	background-color: #10102e;
	cursor: pointer;
}

.board-widget .slot input {
	font-size: 12px;
	border: none;
}

.board-widget .slot input[name="label"] {
	position: relative;
	top: -34px;
	font-size: 10px;
	text-align: center;
}

.board-widget .slot:not([open]) .panel {
	display: none;
}

.board-widget .slot[open] .panel {
	position: relative;
	top: -150px;
	left: -75px;
	width: 300px;
	height: auto;
	border: 3px solid #002147;
	background-color: #111122;
	padding: 10px;
	cursor: default;
}

.board-widget .slot input[type="checkbox"] {
	transform: scale(2);
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	margin-bottom: 20px;
}

.board-widget .slot i[close] {
	position: relative;
	float: right;
	font-size: 35px;
	margin-right: 5px;
	cursor: pointer;
}

.board-widget .slot i[close]:hover {
	color: #fffd92
}

.board-widget .slot label {
	position: relative;
	font-size: 16px;
	top: -1px;
	margin-right: 10px;
	font-weight: bold;
}

.board-widget .slot table {
	width: 100%;
}

.board-widget .slot th {
	font-size: 16px;
	font-weight: bold;
	cursor: help;
}

.board-widget .slot td {
	vertical-align: top;
	width: 50%;
}

/*
 * Dictionary Component
 */

*[dictionary] img {
	height: 16px;
	width: 16px;
	margin-bottom: 0px;
}

*[dictionary] i.fa-plus {
	position: relative;
	top: -1px;
	padding: 3px;
}

*[dictionary]>*[items]>div label {
	font-size: 10px;
	padding-left: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 100px;
	cursor: inherit;
}

*[dictionary]>*[items]>div {
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 20px;
	padding-top: 1px;
}

*[dictionary]>*[items]>*:hover {
	background-color: #610101;
	cursor: not-allowed;
}


*[dictionary]>*[add]:hover {
	background-color: #016101;
	cursor: pointer;
}

/*
 * List Component
 */

*[list] img {
	height: 16px;
	width: 16px;
	margin-bottom: 0px;
}

*[list] i.fa-plus {
	position: relative;
	top: -1px;
	padding: 3px;
}

*[list]>*[items]>div label {
	font-size: 10px;
	padding-left: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 100px;
	cursor: inherit;
}

*[list]>*[items]>div {
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 20px;
	padding-top: 1px;
}

*[list]>*[items]>*:hover {
	background-color: #610101;
	cursor: not-allowed;
}


*[list]>*[add]:hover {
	background-color: #016101;
	cursor: pointer;
}