<div class="frame">
    <img class="icon" />
    <div class="header">
        <input name="name" placeholder="Mod Name" title="Mod Name" />
    </div>
    <div class="content">
        <div class="version">
            <input name="version" placeholder="Version" title="Version" />
            <button version-type="Major">Major</button>
            <button version-type="Minor">Minor</button>
            <button version-type="Patch">Patch</button>
            <button version-type="RC">RC</button>
            <button version-type="Beta">Beta</button>
            <button version-type="Stable">Stable</button>
        </div>
        <input name="author" placeholder="Author" title="Author" />
        <input name="description" placeholder="Summary" title="Summary: Show description of mod" />
        <input name="description_long" placeholder="Description" title="Description" />
    </div>
    <div class="footer">

    </div>
</div>