<div class="box">

</div>
<img class="icon" />
<div class="frame">
    <div class="header">
        <input name="label" placeholder="Label" title="Label" />
        <i class="fa-solid fa-xmark" title="Click to close" close></i>
    </div>
    <div class="content">
        <table>
            <tr>
                <td>
                    <textarea name="description"></textarea>
                </td>
                <td class="slots">
                    <div class="slot">
                        <input name="label" placeholder="Label" title="Slot Label" />
                        <div class="panel">
                            hej
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">

    </div>
</div>