body {
    background-color: var(--vscode-editor-background) !important;
}

* {
    color: #FFFFFF !important;
}

.c43, .c40, .c33, .c41, .c42 {
    background-color: var(--vscode-editor-background) !important;
}